<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid" style="background-color:#a6d4fa;">
<nav th:replace="fragments :: navigation"></nav>
<form method="post" style="display:flex;justify-content:center;align-items:center;flex-direction:column;margin-top:5%;">
    <div class="form-group">
        <label>Title
            <input type="text" class="form-control" th:field="${task.title}" style="background-color:#f2f9fe;"/>
        </label>
        <p class="error text-danger" th:errors="${task.title}"></p>
    </div>
    <div class="form-group">
        <label>Description
        </label><br>
        <textarea name="description" th:field="${task.description}" rows="5" cols="40" class="rounded" style="background-color:#f2f9fe;"></textarea>
        <p class="error text-danger" th:errors="${task.description}"></p>
    </div>
    <div class="form-group">
        <label>Status
            <select th:field="${task.status}">
                <option th:each="status : ${statuses}"
                        th:value="${status}"
                        th:text="${status.getStatus}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Task" class="btn btn-success"/>
    </div>
</form>
</body>
</html>