<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">
<nav th:replace="fragments :: navigation"></nav>
<div class="row">
    <th:block th:each="taskList : ${taskLists}">
        <div class="card mb-4 box-shadow" style="width:300px;height:200px;margin:25px;background:lightyellow;opacity:0.5;">
            <div class="card-body text-monospace">
                <p class="card-text" th:text="'ID: ' + ${taskList.id}"></p>
                <a th:text="${taskList.name}" th:href="'/taskList/view/' + ${taskList.id}"></a>
                <div style="position:absolute;bottom:10px;right:10px;">
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{'/taskList/edit/' + ${taskList.id}}">edit list name</a>
                </div>
            </div>
        </div>
    </th:block>
</div>
<a href="/taskList/create" class="btn btn-danger" role="button">Add new list</a>
</body>
</html>