<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>
<br>
<hr>

<div class="row">
    <th:block th:each="note : ${notes}">
        <div class="card mb-4 box-shadow" style="width:300px;height:200px;margin:25px;background:lightyellow;opacity:0.5;">
            <div class="card-body text-monospace">
                <p th:text="${note.name}"></p>
                <p th:text="${note.description}"></p>
            </div>
        </div>
    </th:block>
</div>
<!--<a href="/taskList/add-notes/" class="btn btn-danger" role="button">Add Notes</a>-->
<a th:href="@{'/taskList/add-notes/' + ${taskList.id} + '/' + ${task.id}}" class="btn btn-danger">Add Notes</a></td>
</body>
</html>