<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid" style="background-color:#a6d4fa;">
<nav th:replace="fragments :: navigation"></nav>

<h1 th:text="${title}"></h1>
<div class="btn-group">
    <a th:href="@{'/taskList/add-notes/' + ${taskList.id} + '/' + ${task.id}}" class="btn btn-danger" style="margin-right:5px;">Add Notes</a></td>
    <a th:href="'/taskList/view/' + ${taskList.id}" class="btn btn-danger">Back to List</a>
</div>

<hr>
<div class="row">
    <th:block th:each="note : ${notesList}">
        <div class="card shadow p-3 mb-5 rounded" style="width:300px;height:200px;margin:25px;background-color:#fff7b1;">
            <div class="card-body text-monospace">
                <p th:text="${note.name}"></p>
                <p th:text="${note.description}"></p>
                <div style="position:absolute;bottom:10px;right:10px;">
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{'/taskList/edit-notes/' + ${taskList.id} + '/' + ${task.id} + '/' + ${note.id}}">edit note</a>
                </div>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>