<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <div class="row">
        <div class="col-lg-8 border border-secondary rounded" style="left:-10%;padding:20px;">
            <strong class="d-inline-block mb-2 text-primary">List</strong>
            <br>
            <small class="text-muted" th:text="'Date Created: ' + ${taskList.formattedDate}"></small>
            <h1 th:text="${taskList.name}"></h1>
            <a th:href="@{'/taskList/add-task/' + ${taskList.id}}" class="btn btn-danger" role="button" style="position:absolute;top:0;right:0;margin:5px;">Add Tasks</a>
            <table class="table" style="table-layout:fixed;width:100%;border-collapse:collapse;">
                <thead>
                <tr>
                    <th>Task ID</th>
                    <th>Task Name</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th></th>
                </tr>
                </thead>
                <th:block th:each="task : ${tasks}">
                    <tr th:if="${task.getStatus.getStatus == 'Completed'}" class="table-success">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.title}"></td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.getStatus.getStatus}"></td>
                        <td><a th:href="@{'/taskList/notes/' + ${taskList.id} + '/' + ${task.id}}">Notes</a></td>
                        <td><a th:href="@{'/taskList/edit-task/' + ${taskList.id} + '/' + ${task.id}}" class="btn btn-danger">Edit</a></td>
                    </tr>
                    <tr th:if="${task.getStatus.getStatus == 'In Progress'}" class="table-primary">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.title}"></td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.getStatus.getStatus}"></td>
                        <td><a th:href="@{'/taskList/notes/' + ${taskList.id} + '/' + ${task.id}}">Notes</a></td>
                        <td><a th:href="@{'/taskList/edit-task/' + ${taskList.id} + '/' + ${task.id}}" class="btn btn-danger">Edit</a></td>
                    </tr>
                    <tr th:if="${task.getStatus.getStatus == 'On Hold'}" class="table-danger">
                        <td th:text="${task.id}"></td>
                        <td th:text="${task.title}"></td>
                        <td th:text="${task.description}"></td>
                        <td th:text="${task.getStatus.getStatus}"></td>
                        <td><a th:href="@{'/taskList/notes/' + ${taskList.id} + '/' + ${task.id}}">Notes</a></td>
                        <td><a th:href="@{'/taskList/edit-task/' + ${taskList.id} + '/' + ${task.id}}" class="btn btn-danger">Edit</a></td>
                    </tr>
                </th:block>
            </table>
        </div>
        <div class="col-sm-4 border border-secondary rounded" style="position:fixed;right:10%;top:40%;padding:20px;">
            <strong class="d-inline-block mb-2 text-primary" style="text-align:center;">Timer</strong>
            <div class="timer">
                <div class="display" style="text-align:center;">
                    <h1 class="display-time-left">00:00</h1>
                </div>
                <div style="bottom:10px;">
                    <button data-time="30" class="btn btn-outline-success" style="width:125px;margin:2px;">30 seconds</button>
                    <button data-time="300" class="btn btn-outline-success" style="width:125px;margin:2px;">5 minutes</button>
                    <button data-time="900" class="btn btn-outline-success" style="width:125px;margin:2px;">15 minutes</button>
                    <button data-time="1800" class="btn btn-outline-success" style="width:125px;margin:2px;">30 minutes</button>
                    <form name="customInput" style="margin:10px;text-align:center;">
                        <input type="text" name="minutes" placeholder="Enter minutes">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/script.js}"></script>
</body>
</html>